img{
    width: 80%;
  height: 100%;
  border-radius: 1rem;
}
body{background-color: aliceblue;
}
h1{
    padding: 10px;
    text-align: center;
  }
#experiencia{
    font-weight: bold;
}
#habilidades{
    font-weight: bold;
}

  .div1 {
    border: black 3px solid;
padding-right: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
.div2{
    border: black 3px solid; 
    }
.div3{
    border: black 3px solid;
    }
    .div4{
        border: black 3px solid;
    }
    .div5{
        border: black 3px solid;
    }
    button{
       
       border-radius: 10px;
       text-shadow: 3px 2px 1px #9daef5;
       box-shadow: 6px 5px 24px #666666;
       
font-family: Arial;
  color: #fafafa;
  font-size: 10px;
  padding: 19px;
  text-decoration: none;
}
a{
font-weight: bold;
}
    